<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">
    <% if @user.first_name.present? %>
      <h1>Welcome, <%= @user.first_name %> !</h1>
    <% else %>
      <h1>Welcome!</h1>
    <% end %>
<br></br>

<p>We’re here to help you plan your perfect vacation.<br>
&nbsp;<br>
Answer a few questions and you will get 6 advisors giving you quality advice along with relevant links to easily book your ideal getaway.<br>
<br>
Get insights on the best things to do, eat, and see where you're traveling (and also what to avoid). You will also get an organized list of links for all recommendations, so all you have to do is click and book.</p>

<p>Click here and log in to get started on your new travel post.<br>
<br>
<br>
Regards,<br>
<br>
TripTippa Team<br>
&nbsp;</p>

</td>
