.place-location {
  color: grey;
}

.fa-times {
  color: #e9501f;
  text-decoration: none;
}

.fa-home,
.fa-map-marker {
  color: #1695a3;
  text-decoration: none;
}

.fa-map-marker {
  margin-right: 2px;
}

.fa-times:active {
  color: #ff8c67;
}

.fa-home:active,
.fa-map-marker:active {
  color: #1fc4d6;
}

.places-autocomplete {
  margin-top: 50px;
  margin-left: 40px;
  width: 700px;
}

.place-name {
  font-weight: bold;
  font-size: 14px;
}

.place-address {
  color: #757575;
  font-size: 14px;
}

.place-form {
  .autocomplete-field {
    width: 60%;
    float: left;
  }

  .city-button {
    float: left;
    width: 10%;
    background-color: #1695a3;
  }

  .country-button {
    float: left;
    width: 20%;
    background-color: #1695a3;
  }

  .selected {
    background-color: #17adbe !important;
  }

  .autocomplete-field {
    height: 42px;
    font-size: 16px;
  }

  .autocomplete-city {}

  .autocomplete-country {}
}

.pac-container {
    z-index: 1051 !important;
}
