// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-thumbs-up, .fa-thumbs-down {
  color: #1695a3;
  text-decoration: none;
}

.clear_link {
  text-decoration: none;
}

.booking_links_post {
  white-space: normal;
  line-height: 24px;
  width: 100%;
  .right-block {
    float: right;
    line-height: 24px;
  }
}

.modal-dialog {
  padding-top: 5%;
}

.btn {
  text-decoration: none;
}

.control-post {
  float: right;
  display: inline-block;
  a{
    margin-left: 10px;
  }
}

input.place-item {
  border: none;
  border-color: transparent;
  width: 500px;
  margin-bottom: 10px;
}

.fa-pencil{
  color: #1695a3;
  padding-right: 10px;
}
