// Place all the styles related to the responses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Button {
  font-family: Calibri, sans-serif;
  font-size:13px;
  font-weight: bold;
  width: 160px;
  height: 25px;
  background:grey;
  color: white
}
.selected {
  color: white;
  background:green;
}
button#cssColorChange:active{
  color: white;
  background:red;
}


textarea {
  background-color: white;
  color: black;
  border: 1px solid #c8ccd0;
}

.btt {background: #f00; text-align: center; color: #fff; padding: 5px; text-decoration: none; position: fixed; bottom: 20px; right: 20px; border-radius: 5px;}