.wizard {
  background-color: #1695a3!important;
  color: white;
}

.wizard-logo {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100px;
  display: block;
  margin: 0 auto;
  opacity: 0.6;
}

.wizard-content {
  color: white;
  margin-left: 20px;
  margin-right: 20px;

  p {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
  }
  padding-bottom: 100px;
}

.btn-wizard {
  text-align: center;
  color: #1695a3;
  font-size: 17px;
  font-weight: bold;
  border-color: #e1e3e3;
  width: 220px;
  height: 48px;
  vertical-align: middle;
  padding: 10px 12px;
  display: block;
  margin: 0 auto 20px;
}

.btn-wizard-control {
  color: white;
  background-color: #1695a3;
  font-size: 15px;
  font-weight: bold;
  border-color: #e1e3e3;
  vertical-align: middle;
  display: block;
}

.btn-wizard-back {
  font-weight: normal;
  color: #1695a3;
  background-color: white;
}

.btn-close {
  color: red;
}

.close-wizard {
  padding-top: 160px;
  width: 400px;
  margin: 0 auto;
  color: #414546;

  p {
    margin-top: 30px;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
}

body {
  padding-right: 0 !important;
  margin-right: 0 !important;
}

body.modal-open {
  overflow: auto;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.highlighted.active,
.datepicker table tr td.active.highlighted:active,
.datepicker table tr td.active:active {
  color: #fff;
  background-color: #1695a3 !important;
  border-color: #689fa4 !important;
}

.number-input {
  width: 100px;
  display: inline-block;
  margin-top: 10px;
}

.price-slider {
  width: 510px;
  margin-left: 20px;
}

.checkbox-grid {
  li {
    display: block;
    float: left;
    width: 200px;
  }
  display: block;
  overflow: auto;
  padding-left: 0;
}

.radio-ratings {
  padding-left: 0;
}

.wizard-wide-input {
  // margin: 0 auto;
  width: 548px;
}

.form-control:focus {
  border-color: #3FB8AF;
  box-shadow: inset 0 0.6px 0.6px rgba(0, 0, 0, 0.075), 0 0 5px #3FB8AF;
}

.modal-body optgroup {
  color: #c7c6c3;
  padding-left: 0;
}

.modal-body optgroup option {
  color: #373a3b;
  padding: 6px 12px;
}

.location-container {
  width: 600px;

  .location-control {
    width: 250px;
    display: inline-block;
  }
}

.modal-body label {
  text-align: center;
  color: #414546;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.modal-body ul {
  list-style: none;
}

.wizard-container {
  margin-left: 40px;
}

.slick-initialized .slick-slide {
  display: block;
  height: 200px;
}

.slick-container {
  height: 200px;
  width: 500px;
  margin: 0 auto;
}
// .slick-arrow {
//   background-color: #3FB8AF !important;
// }

.slick-list {
  h3 {
    text-align: center;
    padding-top: 60px;
  }
}

.triple-slider {
  .slick-current {
    h3 {
      font-size: 45px;
    }
  }
}

.slick-prev:before {
  color: #9cddd8 !important;
  font-size: 30px !important;
}

.slick-next:before {
  color: #9cddd8 !important;
  font-size: 30px !important;
}
