<h1>Post suggestion: <%= @post.owner.first_name %> just posted <%= @post.title %> with places nearby to locations you have been"</h1>
<h2>Follow the <%= link_to @post.title, @post %> for more details</h2>
