<a type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" class="dropdown-toggle nav-link fa-stack has-badge" data-counter="<%= current_user.unread_notifications.count if current_user.unread_notifications.count!=0%>">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
</a>
<div class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <center>
    <h4 class="dropdown-header">Notifications</h4>
  <center>
  <br>
  <% current_user.notifications.last(5).reverse.each do |notification| %>
    <%=link_to image_tag(notification.actor.picture_url, height: "35px", class: 'actor-image'), "#" %>
    <%= notifiable_link(notification)%>
    <div class="dropdown-divider"></div>
  <% end %>
  <br>
</div>
