<div class="post-links-div">
  <h1 class="posts-heading">Booking Links</h1>

  <% @structured_booking_links.each do |url_type_name, booking_links| %>
    <h3 class="post-link-headings"><%=url_type_name%></h3>
    <% booking_links.each do |booking_link| %>
      <%= render partial: 'booking_links/booking_link', locals: { booking_link: booking_link } %>
    <%end%>
  <% end %>
</div>
