<br>
<div class='w-container'>
  <br>
  <div class='table-responsive' id='booking_links_table'>
    <%= render partial: 'booking_links/booking_links_table', locals: { booking_links: @booking_links } %>
  </div>
  <div id='modal-component' class="modal fade">
  </div>
</div>
