<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

    <h1>Hi, <%= @user.first_name %><br>
&nbsp;</h1>

<p>Thanks for finalizing top responses on <%= link_to @post.title, @post %>! Each of these users will receive an award from us.</p>

<hr>
<% @post.responses.where(top: true).each do |response| %>
  <p><b><%=response.user.first_name%>: </b><%= sanitize(response.body.gsub("\n", "<br />")) %>
  </p><br>
<% end %>
<hr>
<p><br>
Regards,<br>
<br>
TripTippa Team<br>
&nbsp;</p>

</td>
