<div class="modal-body wizard">
  <div class="wizard-content">
    <br>
    <br>
    <p>
      Great! Now you are able to respond to posts and earn money.
    </p>
  </div>
  <button type="button" class="btn btn-default btn-wizard" data-dismiss="modal">Ok</button>
</div>
