<html data-wf-page="58e0664780f8fe2060f12acc" data-wf-site="54f7bd5e04a195de6e5adf0f">

<body>
<div class="w-container"></div>
<div>
  <h1 class="heading-2">Tippa Guide - Rules and Advice on responding to travel posts</h1>
</div>
<div>
  <div class="w-container">
    <div class="tippa-guide-body"><strong>Read through the post before responding.</strong> See who’s
      <br> traveling, for how long, their budget, and their interests and reason for
      <br> traveling so you can make great recommendations.
      <br>
      <br><strong>Read through previous responses to the post.</strong> Try to build on or add to previous responses. If
      <br>you feel a previous suggestion was not appropriate or not worth the traveler's time, explain why you think so.
      <br>
      <br><strong>Include links to flight bookings, restaurant reservations, hotel/AirBnB bookings</strong>
      <br>
      <strong>where ever possible.</strong> The goal is to cut out as much online work as possible for
      <br> the traveler. Encapsulate any link with a hashtag so that link will be added to the appropriate list for the poster. For example, if you are suggesting a specific Hotel, just encapsulate the link to book the hotel link like so: hotel#http://hotwire.com/7896#hotel
      <br>
      <br>Don’t just suggest the most obvious things to do at a
      <br> certain destination. Take into consideration what the poster is looking for. For
      <br> example, these days, people are looking for more unique and local experiences
      <br> when they travel.
      <br> &nbsp;
      <br>Back up any recommendations with a link to reviews where
      <br> ever possible. For example, if you recommend a tour, include the TripAdvisor
      <br> link which would show the reviews.
      <br>
      <br> &nbsp;It is okay to recommend things that you haven’t personally experienced, as long as those
      <br> recommendations are backed up by strong online reviews and you think the
      <br> recommendation matches what the traveler is looking for.</div>
  </div>
</div>
<div class="contact-footer w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <div class="w-container">
    <a class="w-nav-brand" href="#"></a>
    <nav class="w-nav-menu" role="navigation"><a class="nav-link-2 w-nav-link" href="#">Home</a><a class="nav-link-2 w-nav-link" href="#">About</a><a class="nav-link-2 w-nav-link" href="#">Contact</a>
    </nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script> -->
<!-- <script src="js/webflow.js" type="text/javascript"></script> -->
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>
