<td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

    <h1>Hello,</h1>
&nbsp;

<p>You've been invited to <%= link_to 'sign up on TripTippa', new_user_registration_url, target: "_blank"%> as an advisor!<br>
<br>
TripTippa is a travel application focused on bringing travelers personalized insights and the most relevant links on the web&nbsp;for their trip.</p>

<hr>
<p>
  <%= link_to 'Click here to sign up', new_user_registration_url, target: "_blank"%><br>
  &nbsp;
</p>

<hr>
<p><br>
We're hoping to help make planning a vacation a whole lot more convenient. Our goal is to provide quality insights and booking links to cut down the amount of time most travelers spend researching, analyzing, and comparing.<br>
<br>
If you're interested in offering your talent and insights to help others craft their ideal vacation experience then we'd love to have you on our platform as an advisor.<br>
<br>
We will provide you with payment details and a guide to responding to posts&nbsp;once you sign up.<br>
<br>
We look forward to seeing you on TripTippa!<br>
<br>
Regards,<br>
<br>
TripTippa Team<br>
&nbsp;</p>

</td>
